* {
	font-family: 'DM Sans', sans-serif;
}

button {
  padding: 1rem;
  padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 20px;
	background-color: #000000;
	color: #ffffff;
	border: none;
}

#profile-link {
	color: #000000;
}

a {
	text-decoration: none;
	color: #777777;
}

a:hover {
	color: #e0e0e0;
}

#title {
	font-size: 5rem;
	text-align: left;
	padding-left: 2rem;
}
#sign-in-button {
	text-align: right;
	padding-right: 2rem;
}
#sign-out-button {
	text-align: right;
	padding-right: 2rem;
}
#middle-page-centered {
	text-align: center;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#homepage-middle {
	padding-left: 33%;
	padding-right: 33%;
	margin: 0;
  position: absolute;
  top: 40%;
}

@media screen and (max-width: 1000px) /* mobile */ {
	#homepage-middle-title {
		font-size: 3.5rem;
	}

	#homepage-middle-paragraph {
		font-size: 1rem;
	}
}

@media screen and (min-width: 1000px) /* desktop */ {
	#homepage-middle-title {
		font-size: 5em;
	}

	#homepage-middle-paragraph {
		font-size: 2em;
	}
}

.footer {
	text-align: center;
	position: fixed;
  bottom: 1rem;
  width: 100%;
}

#below-navbar {
	font-size: 1rem;
	text-align: right;
}

#username-holder {
	padding-right: 2rem;
}

#username{
	text-align: right;
	font-size: 2em;
	color: inherit;
}

#below-navbar-profile {
	font-size: 1rem;
	text-align: center;
}

#username-holder-profile {
	padding-right: 2rem;
}

#username-profile {
	text-align: right;
	font-size: 4em;
	color: #777777;
}
